@use "./variables" as *;
@forward "./variables";

// Центрирование flex-ом
@mixin flex-center($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

// Кнопка по теме
@mixin button($bg, $fg, $br-color, $arrow-color, $arrow-mask: $arrow-mask-default, $transform: translateX(6px)) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 14px 16px 14px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  text-wrap: nowrap;
  background-color: $bg;
  color: $fg;
  cursor: pointer;
  width: fit-content;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 46px;
    height: 100%;
    width: 1px;
    background-color: $br-color;
  }

  &::after {
    content: "";
    mask-image: $arrow-mask;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: $arrow-color;
    width: 18px;
    height: 18px;
    transition: transform 0.3s ease-in-out;
  }

  &:hover {
    &::after {
      transform: $transform;
    }
  }

  @include tablet {
    padding: 12px 16px 13px;
    max-height: 40px;
    font-size: 12px;
    line-height: 16px;
  }
}

//Типографика
@mixin headline-one {
  font-size: $headline-one-desktop;
  line-height: 72px;
  font-weight: 500;

  @include tablet {
    font-size: $headline-one-mobile;
    line-height: 42px;
  }
}

@mixin headline-two {
  font-size: $headline-two-desktop;
  line-height: 48px;
  font-weight: 500;

  @include tablet {
    font-size: $headline-two-mobile;
    line-height: 36px;
  }
}

@mixin headline-three {
  font-size: $headline-three-desktop;
  line-height: 36px;
  font-weight: 500;

  @include tablet {
    font-size: $headline-three-mobile;
    line-height: 28px;
  }
}

@mixin headline-four {
  font-size: $headline-four-desktop;
  line-height: 28px;
  font-weight: 500;

  @include tablet {
    font-size: $headline-four-mobile;
    line-height: 26px;
  }
}

@mixin body-large {
  font-size: $body-large-desktop;
  line-height: 32px;

  @include tablet {
    font-size: $body-large-mobile;
    line-height: 24px;
  }
}

@mixin body {
  font-size: $body-desktop;
  line-height: 30px;

  @include tablet {
    font-size: $body-mobile;
    line-height: 22px;
  }
}

@mixin caption {
  font-size: $caption-desktop;
  line-height: 20px;

  @include tablet {
    font-size: $caption-mobile;
    line-height: 18px;
  }
}

// Брейкпоинты
@mixin laptop {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1150px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
