// Глобальные стили
html {
  background: $white;
  font-family: $font-family-base;
  color: $black;
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
}
