.footer {
  min-height: 100vh;
  background-color: $black;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 148px;
  padding-top: 96px !important;
  padding-bottom: 48px !important;
}

.footer__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 48px;
  color: $white;

  &.reverce {
    flex-direction: column-reverse;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 816px;

  &.bottom {
    justify-content: flex-end;
  }

  &.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.footer__title {
  @include headline-one;

  letter-spacing: -2px;
  max-width: 617px;
}

.footer__description {
  @include body-large;

  color: $dark-gray;
}

.footer__button {
  @include button($white, $black, $gray, $black);
}

.footer__contacts-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.footer__contacts-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__contacts-item-title,
.footer__nav-title {
  @include caption;

  color: $dark-gray;
  text-transform: uppercase;
  font-family: $font-family-mono;

  &.mobile {
    display: none;
  }
}

.footer__contacts-item a {
  @include headline-three;

  letter-spacing: -1px;
}

.footer__social-list {
  display: flex;
  gap: 8px;
}

.footer__social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background-color: $white-6;
  border: 1px solid $white-6;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.footer__nav-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__nav-item {
  font-size: 16px;
  line-height: 18px;
}

.footer__copyright,
.footer__link-item {
  @include caption;

  font-family: $font-family-mono;
  color: $dark-gray;
  text-transform: uppercase;
}

.footer__link-item {
  margin-left: auto;
}

@include tablet {
  .footer__container {
    gap: 48px;
    padding-top: 48px !important;
  }

  .footer__section {
    display: flex;
    flex-direction: column;
    gap: 48px;

    &.row-mobile {
      flex-direction: row;
    }
  }

  .footer__content {
    max-width: 100%;

    &.row-mobile {
      flex-direction: row;
    }

    &.bottom {
      justify-content: space-between;
    }
  }
}

@include mobile {
  .footer__contacts-list,
  .footer__content.row {
    display: flex;
    flex-direction: column;
  }

  .footer__nav-list {
    gap: 24px;
  }

  .footer__contacts-item-title {
    display: none;

    &.mobile {
      display: block;
    }
  }
}
