// Основные стили макета
.section {
  margin: 0 auto;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1744px;
  padding: 0 40px;
}

// Адаптивность для основного макета
@include tablet {
  .container {
    padding: 0 16px;
  }
}
